@import "~bootstrap-icons/font/bootstrap-icons.css";

.container-new-task{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-new-task{
  width: 100%;
  height: 100%;
}

.btn-plus{
  margin: 5px;
}

.btnSave{
  display: flex;
  align-items: center;
  justify-content: center;
}
