@import "~bootstrap-icons/font/bootstrap-icons.css";

.container-view{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
